RewriteEngine On

# If a file or directory exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, forward to index.php
RewriteRule ^(.*)$ /index.php [L]
