
.navbar  li{
    list-style: none;
    display:inline-block;
    padding:30 px;
}
.navbar
:hover{
    color: darkslateblue;
}
li, a,button{
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    color:black;
}
.signup-btm{
    border-width:2;
    border-style: none;
    border-color:black;
    5 px 10 px 5 px 10 px;
    border-radius: 6px;

}
