
*{
    font-family: Verdana;
    margin: 0;
}
body{
    background:url('https://media.istockphoto.com/id/172730312/photo/virgin-islands-beach.jpg?b=1&s=612x612&w=0&k=20&c=gBxx_8IuXc3hv_cKbJ_10WUpXtEgJECVpG0881higd0=')no-repeat;
background-size: cover;
    background-position: center;
}
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
nav{
    background: #a8d4e4;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: #0c0c37;
    display: block;
    padding: 10px;
}
nav a:hover{
    background-color: #0c5f80;
}
@media screen and (min-device-width:768px){
}
nav ul{
    display: flex;
    justify-content: center;
}
nav li{
    flex: 1 1 0;
}
.Paraqitja-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   border-radius:10px;
    padding: 30px 40px;
}
.Paraqitja-login h1{
    font-size:38px;
    text-align: center;
}
.Paraqitja-login .input-box {
    height:30px;
    width: 100%;
    margin: 50px 0;
    position: relative;
}
.input-box input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 2);
        border-radius: 45px;
        color: black;
        font-size:16px;
    }
.input-box input::placeholder{
    color: white;
}
.input-box {
    position:absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.Paraqitja-login .Remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -18px 0 18px;
}

.Remember-me label input{
    accent-color: whitesmoke;
    margin-right: 3px;
}
.Remember-forgot a{
    color:antiquewhite;
    text-decoration: none;
}
.Remember-forgot a:hover{
    text-decoration: underline;
}
.Paraqitja-login .btm{
    width: 100%;
    height: 35px;
    background: ghostwhite;
    border: none;
    outline:none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #6a6262;
    font-weight: 600;
}
.Paraqitja-login .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color:ghostwhite;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.wrapper{


}














